.outer {
  width: 95%;
}

.loader {
  border: 8px solid white;
  border-radius: 50%;
  border-top: 8px solid #212529;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* For Safari */
  animation: spin 2s linear infinite;
}

/* For Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg-info {
  background-color: #212529 !important;
}

.overlay-center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  user-select: none;
  transform: translate(-50%, -50%);
}

.overlay-info {
  font-size: 20px;
  padding: 16px;
  background-color: black;
  color: white;
}

.overlay {
  margin: auto;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-info {
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 8px 16px;
}

#btn-container {
  margin: 16px;
}

#btn-view-source {
  float: right;
}

