<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Garage Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Garage Data</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto" id="nav-list-items">
          <li class="nav-item active" id="nav-today">
            <a class="nav-link" href="#">Today <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="nav-current-month">
            <a class="nav-link" href="#">This month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="nav-all">All</a>
          </li>
        </ul>
        <form class="form-inline">
          <input readonly class="form-control form-control-sm mr-sm-2" data-provide="datepicker" id="date-picker"
                 type="search"
                 placeholder=""
                 aria-label="Search">
          <button class="btn btn-dark my-2 my-sm-0" id="btn-submit" type="submit" disabled>Search</button>
        </form>
      </div>
    </nav>

    <div class="overlay" id="overlay-no-data" onclick="hideOverlay()">
      <div class="overlay-center">
        <h1>No data found</h1>
      </div>
      <div class="overlay-center">
        <br><br>
        <span id="overlay-info">Click anywhere to continue</span>
      </div>
    </div>

    <div class="overlay" id="overlay-loading" style="display: block">
      <div class="overlay-center">
        <div class="loader"></div>
      </div>
    </div>

    <div class="outer">
      <canvas id="line-chart"></canvas>
    </div>

    <div id="btn-container">
      <button class="btn btn-dark btn-sm shadow" id="toggle-tooltip">Tooltip: on</button>
      <button class="btn btn-dark btn-sm shadow" id="showAll">Show all</button>
      <button class="btn btn-dark btn-sm shadow" id="toggle-smooth">Smooth</button>
      <button class="btn btn-dark btn-sm shadow" id="toggle-fill">Toggle fill</button>
    </div>

  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="/static/line.js"></script>
  <script src="/static/chart-controller.js"></script>
  <script src="/static/nav-controller.js"></script>
  <script>
    function hideOverlay() {
      $('#overlay-no-data').css({ display: 'none' })
    }
  </script>
</html>
