<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="View an interactive graph of UCF parking garages. Data is added every hour 24 hours a day.">
    <title>UCF Parking Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand" style="cursor: default;">Garage Data</span>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto" id="nav-list-items">
          <li class="nav-item active" id="nav-today">
            <span class="nav-link pointer">Today <span class="sr-only">(current)</span></span>
          </li>
          <li class="nav-item dropdown" id="nav-dropdown-week">
            <span class="nav-link dropdown-toggle pointer" id="span-week" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
              View week
            </span>
            <div class="dropdown-menu" id="nav-dropdown-items-week" aria-labelledby="nav-dropdown-title">
              <span class="dropdown-item pointer" id="view-current-week">This week</span>
              <div class="dropdown-divider"></div>
            </div>
          </li>

          <li class="nav-item dropdown" id="nav-dropdown-month">
            <span class="nav-link dropdown-toggle pointer" id="span-month" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
              View month
            </span>
            <div class="dropdown-menu" id="nav-dropdown-items-month" aria-labelledby="nav-dropdown-title">
            </div>
          </li>
          <li class="nav-item" id="nav-all">
            <span class="nav-link pointer">All</span>
          </li>
        </ul>
        <div class="form-inline">
          <div class="input-group input-group-sm mb-3r">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping" style="cursor: default;">Date</span>
            </div>
            <input type="search" class="form-control pointer" id="date-picker" placeholder="" aria-label="Username"
                   data-provide="datepicker"
                   data-toggle="tooltip"
                   data-placement="left"
                   title="Click to change date"
                   aria-describedby="addon-wrapping" readonly>
          </div>
        </div>
      </div>
    </nav>

    <div class="overlay" id="overlay-no-data" onclick="hideOverlay()">
      <div class="overlay-center">
        <h1>No data found</h1>
      </div>
      <div class="overlay-center">
        <br><br>
        <span id="overlay-info">Click anywhere to continue</span>
      </div>
    </div>

    <div class="overlay" id="overlay-loading">
      <div class="overlay-center">
        <div class="loader"></div>
      </div>
    </div>

    <div class="outer">
      <canvas id="line-chart"></canvas>
    </div>

    <div id="btn-container">
      <button class="btn btn-dark btn-sm shadow" id="toggle-tooltip">Tooltip: on</button>
      <button class="btn btn-dark btn-sm shadow" id="showAll">Show all</button>
      <button class="btn btn-dark btn-sm shadow" id="toggle-fill">Toggle fill</button>
      <button class="btn btn btn-outline-dark btn-sm shadow" id="view-source">View source</button>
    </div>

  </body>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="/static/line.js"></script>
  <script src="/static/chart-controller.js"></script>
  <script src="/static/nav-controller.js"></script>
  <script>
    $(document).ready(() => {
      // Enable all tooltips
      $('[data-toggle="tooltip"]').tooltip();
      $('#view-source').click(() => {
          let win = window.open('https://github.com/ctcuff/UCFParking-API', '_blank');
          // The browser has allowed new windows to be opened
          if (win !== null) {
            win.focus();
          }
      });
      $('.navbar-collapse span:not(.dropdown-toggle)').click(() => {
        $('.navbar-collapse').collapse('hide');
      });
    });

    function hideOverlay() {
      $('#overlay-no-data').css({ display: 'none' });
    }
  </script>
</html>
